input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 0.9rem;
  }

  button {
      color: #fff;
      background-color: black;
      padding: 10px;
      font-weight: bold;
      border: 2px solid black;
      border-radius: 5px;
      font-size: 0.9rem;
      margin: 10px 0;
  }

  button:hover {
      color: black;
      background-color: #fff;
      
  }